.full-width-background {
  position: relative;
  background-image: url("/hero-2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 74vh;
  max-height: 900px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 0 12px;

  .header-plant-left,
  .header-plant-right {
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  .header-plant-left {
    left: 0;
  }

  .header-plant-right {
    right: 0;
  }

  .button-secondary {
    background-color: #fff;
    color: #000;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
